KAFKA_CLUSTER_ID=5L6g3nShT-eMCtK--X86sw
KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9094,localhost:9096

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wikistream
POSTGRES_USER=wikistream
POSTGRES_PASSWORD=wikistream

WIKI_STREAM_URL=https://stream.wikimedia.org/v2/stream/recentchange
